.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    img{
        border-radius: 10px;
    }
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 40px;
}
center{
    color: white;
    font-weight: bolder;
    font-size: 40px;
}