@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
  
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  .content-cont{
    padding: 5%;
    width: 100%;
    background-color: tomato;
    overflow-y: scroll;
    /* margin-left: 50px; */
  }
  /* .sidebar-cont{
    position: fixed;
  } */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:1050px) {
  .app {
    width: 100%;
  }
}