/* .header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size:contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight:500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
} */

.header{
    height: 34vw;
   
    margin: 30px auto;
    background: url('../../assets/hero3.png') no-repeat;
    width: 100%;
    background-size:contain;
    position: relative;
    border-radius: 0px;
    background-position: center;
    /* width:400px; */
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 10vw;
    /* top: 100px; */
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight:500;
    color: white;
    font-size: max(4vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1.3vw;
}
.header-contents button{
    /* border: 1px solid #ffffff; */
    background: white;
    border: none;
    color: black;
    font-weight: 500;
    margin-top: 40vh;
    padding: 1vw 2vw;
    /* background: transparent; */
    font-size: max(1vw,13px);
    border-radius: 50px;
}

.header-contents button:hover{
    background-color: rgb(230, 239, 70);
    color: black;
    -webkit-transition: all 0.3s ease;
    transition: all 1s ease;
    transition-delay: 0.1s ease;
    cursor: pointer;
}
@media (max-width:1050px) {
    .header{
        height: 50vw;
        margin-top: 80px;
    }
    .header-contents{
        max-width: 45%;
        top: 20px;
        button{
            margin-top: 30vh;
          
        }
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
        opacity: 0;
    }
}





/* Header.css */