/* .header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size:contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight:500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
} */

.header{
    height: 100vh;
   
    margin: 0px auto;
    background: url('../../assets/hero3.png') no-repeat;
    width: 100%;
    background-size:contain;
    position: relative;
    border-radius: 0px;
    background-position: center;
    /* width:400px; */
}
.header-contents{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
   
    /* top: 100px; */
    animation: fadeIn 3s;
    height:80vh;
}
.header-contents h2{
    font-weight:500;
    color: white;
    font-size: max(4vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1.3vw;
}
@keyframes buttonPulse {
    0% {
      transform: scale(1);
      box-shadow: 1px 1px 10px rgb(80, 38, 38);
    }
    50% {
      transform: scale(1.1);
      box-shadow: 2px 2px 15px rgb(120, 50, 50);
    }
    100% {
      transform: scale(1);
      box-shadow: 1px 1px 10px rgb(80, 38, 38);
    }
  }
  
  .header-contents button {
      /* border: 1px solid #ffffff; */
      position: absolute;
      bottom: 0;
      left: 10%;
      background: white;
      border: none;
      color: red;
      font-weight: bold;
    
      /* font-size : 80px; */
      width: 200px;
      
      padding: 0.5vw 0.5vw;
      box-shadow: 1px 1px 10px rgb(80, 38, 38);
      font-size: max(1.2vw, 20px);
      border-radius: 50px;
      animation: buttonPulse 2s infinite; /* Add animation here */
  }
  
  .header-contents button:hover {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      -webkit-transition: all 0.3s ease;
      transition: all 1s ease;
      transition-delay: 0.1s ease;
      cursor: pointer;
      
      animation: buttonPulse 1.5s infinite; /* Speed up on hover */
  }
  
@media (max-width:1050px) {
    .header{
        height: 50vw;
        margin-top: 30%;
    }
    .header-contents{
        max-width: 45%;
        top: 20px;
        button{
            padding: 20px 20px;
            bottom: 0;
            left: 10%;
        }
        
    }
}
@media(max-width:950px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        
        /* opacity: 0; */
        bottom: 30vh;
        left: 35%;
    }
}





/* Header.css */